
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes movedown{
    0%{
        transform: translateY(-100px);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    animation: movedown 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.content{
    text-align: center;
    animation: moveright 1s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes moveright{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

/*----
@keyframes zoomin{
    0%{
        transform: scale(0.5);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
}
*/

.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}



.container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.progress-bar{
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html{
    background: #e91e63;
    animation: html 1s linear forwards;
}
.css{
    background: #cddc39;
    animation: css 1s linear forwards;
}
.javascript{
    background: #00bcd4;
    animation: javascript 1s linear forwards;
}
.php{
    background: #ffeb3b;
    animation: php 1s linear forwards;
}
.python{
    background: #e23bff;
    animation: python 1s linear forwards;
}
.mysql{
    background: #6ce91e;
    animation: mysql 1s linear forwards;
}

.html span{
    border: 1px solid #e91e63;
}
.css span{
    border: 1px solid #cddc39;
}
.javascript span{
    border: 1px solid #00bcd4;
}
.php span{
    border: 1px solid #ffeb3b;
}
.python span{
    border: 1px solid #ffeb3b;
}
.mysql span{
    border: 1px solid #6ce91e;
}

@keyframes html{
    100%{
        width: 86%;
    }
}
@keyframes css{
    100%{
        width: 76%;
    }
}
@keyframes javascript{
    100%{
        width: 66%;
    }
}
@keyframes php{
    100%{
        width: 56%;
    }
}
@keyframes python{
    100%{
        width: 46%;
    }
}
@keyframes mysql{
    100%{
        width: 26%;
    }
}

